<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Character Details</title>
    <link rel="stylesheet" type="text/css" href="/Styles.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"></script>
    <script src="/Script.js"></script>
</head>

<body>
    <div class="container">

        <header class="header">
            <h1>Super Smash Bros Characters</h1>

            <section class="select-character">
                <label for="characterSelector"></label>
                <input type="text" id="characterSelector" placeholder="Search..." name="selectedCharacter">
                <div class="search-options" id="searchOptions" style="display: none;">
                    <div class="option no-results" style="display: none;">No results</div>
                    <div th:each="item : ${listOfCharacterNames}" class="option" th:value="${item}" th:text="${item}" onclick="setSearch(this)"></div>
                </div>
                <button type="submit" onclick="fetchCharacterDetails()">GO</button>
            </section>

        </header>

        <div class="content">
            <p class="initial-message" id="initialMessage">Search and select a character above and click GO</p>
            <section class="character-details">
                <!-- Display the JSON result here using Handlebars.js -->
                <div id="characterDetails"></div>
            </section>
        </div>

    </div>

    <!-- Handlebars character template -->
    <script id="character-details-template" type="text/x-handlebars-template">
        <h2>{{characterDetails.characterName}}</h2>
        <p>{{characterDetails.description}}</p>
        {{#if relatedCharacters}}
        <h3>Related Characters from {{characterDetails.franchise}}</h3>
        <ul>
            {{#each relatedCharacters}}
            <li>
                <a onclick="fetchRelatedCharacterDetails('{{characterName}}')">{{characterName}}</a>
            </li>
            {{/each}}
        </ul>
        {{/if}}
        <h3>Franchise Details</h3>
        <p>Franchise: {{characterDetails.franchise}}</p>
        <p>Founded: {{franchiseDetails.yearFounded}}</p>
        <p>Country: {{franchiseDetails.country}}</p>
        <p>Genre: {{franchiseDetails.genre}}</p>
        <button id="clearButton" onclick="clearCharacterDetails()">Clear</button>
    </script>

</body>
</html>
